#Chat {
    .state {
        border-radius: 100%;
        width: 5px;
        height: 5px;
        &-success {
            background-color: #67c23a;
        }
        &-close {
            background-color: #F56C6C;
        }
    }
}

#Chat /deep/ {}

.chat-body {
    padding: 0 10px;
    padding-bottom: 56px;
    z-index: 1;
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
    .time-box {
        text-align: center;
        width: 100%;
        transition: all 0.3s;
        .time {
            background-color: rgba($color: #000000, $alpha: 0.4);
            color: #fff;
            line-height: 1;
            border-radius: 3px;
            display: inline-block;
            font-size: 11px;
            padding: 5px 10px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}

.chat-input-box {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0; // height: 45px;
    background-color: #F7F7F7;
    border-top: 1px solid #ddd;
    display: flex;
    padding: 8px 10px;
    align-items: center;
    z-index: 1000;
    .img-icon {
        color: #777;
        font-size: 20px;
    }
    input {
        background-color: #fff;
        line-height: 1;
        padding: 10px;
        flex-grow: 2;
        margin-right: 8px;
        border-radius: 5px;
        outline: none;
        border: none;
    }
    .button {
        flex-grow: 1;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        background-color: #38ac7f;
        border: solid 1px #38ac7f;
        color: #fff;
        line-height: 1;
        user-select: none;
        transition: all 0.3s;
        outline: none;
        &:active {
            opacity: 0.9;
        }
    }
}

.left-enter-active,
.left-leave-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.left-leave-active {
    position: absolute;
}

.left-enter,
.left-leave-to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.right-enter-active,
.right-leave-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.right-leave-active {
    position: absolute;
}

.right-enter,
.right-leave-to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.fide-enter-active,
.fide-leave-active {
    opacity: 1;
}

.fide-leave-active {
    transition: all 0.3s;
}

.fide-enter,
.fide-leave-to {
    opacity: 0;
}